<% provide :title, t(".title_home") %>
<% provide :title_base, t("static_pages.help.base_title") %>
<h1><%= t "static_pages.help.title_home" %></h1>
<p>
  <%= t "static_pages.help.description1" %>
  <%= link_to t("static_pages.help.content_link1"), "http://www.railstutorial.org/help" %>
  <%= t "static_pages.help.description2" %>
  <%= raw link_to t("static_pages.help.content_link2").html_safe, "http://www.railstutorial.org/book" %>
</p>
