<% provide :title, t(".title_home") %>
<% provide :title_base, t("static_pages.home.base_title") %>
<div class="center jumbotron">
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render "shared/user_info" %>
        </section>
        <section class="micropost_form">
          <%= render "shared/micropost_form" %>
        </section>
      </aside>
      <div class="col-md-8">
      <h3><%= t "micropost.mess.title" %></h3>
        <%= render "shared/feed" %>
      </div>
    </div>
  <% else %>
    <h1><%= t "static_pages.home.title" %></h1>
    <h2>
      <%= t "stactic_page.home.description" %>
      <%= link_to t("static_pages.home.content_link"),"http://www.railstutorial.org/" %>
      <%= t "static_pages.home.description2" %>
    </h2>
    <%= link_to t("static_pages.home.signup"), "#", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<%= link_to t("static_pages.home.content_link2"),"http://www.railstutorial.org/" %>
