<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.avt.size), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.display_image if micropost.image.attached? %>
  <span class="timestamp">
    <%= t "micropost.mess.posted" %>
    <%= time_ago_in_words micropost.created_at %>
     <%= t "micropost.mess.ago" %>
    <% if current_user? micropost.user %>
      <%= link_to t("micropost.mess.delete"), micropost, method: :delete,
      data: {confirm: t("micropost.mess.confirm_detele")} %>
    <% end %>
  </span>
</li>
